<div class="" style="display: flex; justify-content: center;">

<div class="card w-50">
  <div class="card-body">
    <h3 class="text-center">Retrieve your booking</h3>
    <hr>
    <p>You can find your booking by filling out your family name and the booking code in your confirmation</p>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1" style="font-weight: 500;">Booking Code</label>
        <input [(ngModel)]="bookingCode" name="bookingCode"  type="text" class="form-control" required maxlength="6" minlength="5">
      </div>
      <div class="form-group mt-2">
        <label for="exampleInputPassword1" style="font-weight: 500;">Family Name</label>
        <input [(ngModel)]="familyName" name="familyName" type="text" class="form-control"  maxlength="30" minlength="2">
      </div>
      <div class="mt-3">
      <button (click)="submit()"  type="submit" class="btn btn-danger w-100">Check Booking</button>
  </div>
</form>
  </div>
</div>

<div *ngIf="loading">
  Loading...
</div>
<div *ngIf="error">
  Error Occurred :(
</div>

<!-- <table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Authors</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <th scope="row">{{ book.title }}</th>
      <td>{{ getAuthorNames(book.authors) }}</td>
    </tr>
  </tbody>
</table> -->
</div>
